<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.semweb.com/jobs#"
            class="com.semweb.jobs.JOBPackage"
            genModel="model/jobs.genmodel"/>
   </extension>

</plugin>
